@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

$background-color: #fff;
$font-family: 'Roboto', sans-serif;

@mixin btn($fontcolor: #FAFAFA){
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  outline: 0;
  border: 0;
  width: 100%;
  padding: 15px;
  background: #0F9AF0;
  color: $fontcolor;
  margin: 10px 0 0;
  text-transform: uppercase;
}

@mixin message($fontcolor: #90A4AE){
  color: $fontcolor;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@mixin input($bkgnd: #fff){
  font-family: $font-family;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  outline: 0;
  font-size: 15px;
  text-align: center;
  box-sizing: border-box;
  background: $bkgnd;
}

.header {
  margin: 10px auto;

}

.container{
  //padding: 8% 0 0;
  width: 40%;
  margin: 10% auto;
  height: 50vh;
  //border: 1px solid red;
  display: flex;
  flex-direction: column;
}

.form{
  position: relative;
  z-index: 1;
  max-width: 500px;
  margin: 50px auto 100px;
  padding: 45px;
  height: 60%;
  background: whitesmoke;
}

.form {
  input{
    @include input;

    ::placeholder {
      color: #90A4AE;
    }
  }

  .btn{
    @include btn;
    cursor: pointer;
  }

  .message {
    @include message;
    a {
      text-decoration: none;
      color: #00BFA5;
    }
  }
}

.spinner {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
